{% load i18n %}
{% load static %}
<!DOCTYPE html>

<html>
<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/images/favicon-32x32.png" %}" />
  {% comment %} Chrome, Firefox OS and Opera {% endcomment %}
  <meta name="theme-color" content="#ecad2e">
  {% comment %} Windows Phone {% endcomment %}
  <meta name="msapplication-navbutton-color" content="#ecad2e">
  {% comment %} iOS Safari {% endcomment %}
  <meta name="apple-mobile-web-app-status-bar-style" content="#ecad2e">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="keywords" content="{% trans "hotel mogren budva" %}" />
  <meta name="description" content="{% trans "Hotel Mogren is an authentic city hotel and undisputed tourist symbol of Budva, recently renovated to feature a four-star experience for our guests." %}">
  <title>{% trans "Budvanska Rivijera | Hotel Mogren in Budva" %}</title>

  {% comment %} jquery datepicker {% endcomment %}
  <link href="{% static "assets/css/jquery-ui.css" %}"
    rel="stylesheet" />

  {% comment %} UIkit CSS {% endcomment %}
  <link rel="stylesheet" href="{% static "assets/css/uikit.min.css" %}" />

  {% comment %} UIkit JS {% endcomment %}
  <script async src="{% static "assets/js/uikit.min.js" %}"></script>
  <script async src="{% static "assets/js/uikit-icons.min.js" %}"></script>

  <link rel="stylesheet" href="{% static "assets/css/main-mobile.css" %}" />
  <link rel="stylesheet" href="{% static "assets/css/main-responsive.css" %}" />

  <link rel="stylesheet" href="{% static "assets/css/hotel-overview-mobile.css" %}" />
  <link rel="stylesheet" href="{% static "assets/css/hotel-overview-responsive.css" %}" />

  <link rel="stylesheet" href="{% static "assets/css/breadcrumbs-slidemenu.css" %}" />
  <link rel="stylesheet" href="{% static "assets/css/testimonials.css" %}" />

  <link rel="stylesheet" href="{% static "assets/css/modal.css" %}" />
  <link href="{% static "assets/css/material-icons.css" %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script async src="{% static "assets/js/fontawesome.js" %}"></script>
    <style>
    .close-modal{
      display: none !important;
    }
  </style>


</head>

<body>
<div id="modal" uk-modal class="uk-open">
    <div class="uk-modal-dialog uk-modal-body">
      <button class="uk-modal-close-default" type="button" uk-close id="close-modal"></button>
      <img src="{% static "assets/images/hgbr-logo-horizontalni.png" %}" alt="logo" title="logo">
      <p id="first-p">{% trans "Sit tight, we'll be right back!" %}</p>
      <p id="second-p">{% trans "Hotel Mogren is currently being renovated into 5 star hotel with plethora of luxury content and services." %}</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="white" fill-opacity="1" d="M0,96L60,90.7C120,85,240,75,360,64C480,53,600,43,720,64C840,85,960,139,1080,154.7C1200,171,1320,149,1380,138.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
</div>
  <header>
      {% include "components/header-desktop-nav.html" %}
    <div uk-sticky="offset: 50" class="hotel-menu-slide">
      <div class="uk-position-relative uk-visible-toggle uk-light width-padding" tabindex="-1" uk-slider="finite: true">
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Overview" %}" class="slide-menu-current-page" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "HOTEL OVERVIEW" %}</a>
          </li>
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Accommodation" %}" href="{% trans "/en/hotel-mogren-in-budva/guest-rooms/" %}">{% trans "ACCOMMODATION" %}</a>
          </li>
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Meetings & Events" %}" href="{% trans "/en/hotel-mogren-in-budva/conference-rooms/" %}">{% trans "MEETINGS & EVENTS" %}</a>
          </li>
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Weddings" %}" href="{% trans "/en/hotel-mogren-in-budva/weddings/" %}">{% trans "WEDDINGS" %}</a>
          </li>
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Restaurants" %}" href="{% trans "/en/hotel-mogren-in-budva/restaurants-and-bars/" %}">{% trans "RESTAURANTS & BARS" %}</a>
          </li>
          <li class="menu-slide-li">
            <a title="{% trans "Hotel Mogren - Location" %}" href="{% trans "/en/hotel-mogren-in-budva/location/" %}">{% trans "LOCATION" %}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-hero-container" id="header-container" style="background: url('{% static "assets/images/Mogren/mogren.jpg" %}') right/cover;">
      <div class="hotel-menu" id="hotel-menu">
        <div class="hotel-menu-container width-padding">
          <div id="breadcrumbs-container">
            {% comment %} <i class="fas fa-umbrella-beach breadcrumbs-icons" uk-tooltip="Hello World"></i>
              <i class="material-icons breadcrumbs-icons" uk-tooltip="Hello World">people</i> {% endcomment %}
            <svg uk-tooltip="title: City hotel " width="25" height="25" version="1.1" id="Layer_5"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  fill: #999;
                }
              </style>
              <g>
                <path class="st0" d="M472,455c18.2-4.5,32-23.8,32-47s-13.8-42.6-32-47V104h-16V72h-32V40h-16.2L408,8l-16-0.1L391.8,40H376v32h-32
		v32h-16v69.4c-17.3,4.7-33.6,12.4-48,22.6v-76h32V72h-40V40h-16.2L256,8l-16-0.1L239.8,40H224v32h-40v48h32v153.8l-32-8V200h16v-16
		h-48v-48h-16v48h-16v-16h-16v16H88v-32H72v32H24v16h16v248.2c-9.7,7.3-16,18.8-16,31.8c0,2.7,0.4,5.4,0.9,8H8v16h496v-16h-32V455z
		 M232,443.4c-11.4-5-25.2-4.3-36,2C185.5,432,169.3,424,152,424c-11.8,0-22.8,3.7-32,10.1V266.2l112,28V443.4z M238,279.3l0.9-2.2
		c17.7-53.1,65.7-89.6,121.1-92.8v277.3c-8.9-4.3-18.9-6.3-29.3-5.3C321.6,436.7,302,424,280,424c-11.7,0-22.8,3.7-32,10.2V281.8
		L238,279.3z M392,408v30c-9.3-4.4-16-16.1-16-30c0-17.6,10.8-32,24-32s24,14.4,24,32c0,13.9-6.7,25.6-16,30v-30H392z M376,473.1
		v-26.8c4.7,4.2,10.1,7.3,16,8.7v33h-5.6C383.7,482.4,380.2,477.4,376,473.1z M408,455c9.8-2.4,18.2-9.1,24-18.4
		c5.8,9.3,14.2,16,24,18.4v33h-48V455z M488,408c0,13.9-6.7,25.6-16,30v-30h-16v30c-9.3-4.4-16-16.1-16-30c0-17.6,10.8-32,24-32
		S488,390.4,488,408z M392,56h16v16h-16V56z M360,88h16h48h16v16h-80V88z M344,120h112v241c-9.8,2.4-18.2,9.1-24,18.4
		c-7.3-11.7-18.9-19.3-32-19.3c-9,0-17.3,3.6-24,9.7V168h-8c-8.1,0-16.2,0.6-24,1.9V120z M240,56h16v16h-16V56z M200,88h96v16h-96
		V88z M264,120v89.1c-13,12.2-23.9,26.7-32,43V120H264z M56,200h112v61.8l-64-16v205.6c-1,1.7-2,3.3-2.8,5.1
		c-1.7-0.2-3.4-0.4-5.2-0.4c-7.5-10-19.4-16-32-16c-2.7,0-5.4,0.3-8,0.8V200z M40,480c0-13.2,10.8-24,24-24
		c8.6,0,16.7,4.7,20.9,12.2l2.5,4.4L96,472c2.4,0,4.8,0.5,7.6,1.4l7.8,2.6l2.4-7.8C119,451.3,134.4,440,152,440
		c14.6,0,28,7.9,35,20.7l5,9.1l7.5-7.1c9-8.5,23.9-8.5,32.9,0l7.5,7.1l5-9.1c7.1-12.8,20.5-20.7,35-20.7c17.4,0,32.6,11.1,38,27.6
		l2.2,6.9l7.1-1.6c15.8-3.5,31.3,3,40.4,15H41.6C40.6,485.4,40,482.8,40,480L40,480z" />
                <path class="st0" d="M136,216h16v16h-16V216z" />
                <path class="st0" d="M72,216h16v16H72V216z" />
                <path class="st0" d="M104,216h16v16h-16V216z" />
                <path class="st0" d="M72,344h16v16H72V344z" />
                <path class="st0" d="M72,312h16v16H72V312z" />
                <path class="st0" d="M72,280h16v16H72V280z" />
                <path class="st0" d="M72,376h16v16H72V376z" />
                <path class="st0" d="M72,248h16v16H72V248z" />
                <path class="st0" d="M72,408h16v16H72V408z" />
                <path class="st0" d="M424,136h16v16h-16V136z" />
                <path class="st0" d="M392,136h16v16h-16V136z" />
                <path class="st0" d="M360,136h16v16h-16V136z" />
                <path class="st0" d="M136,392h16v16h-16V392z" />
                <path class="st0" d="M136,360h16v16h-16V360z" />
                <path class="st0" d="M136,328h16v16h-16V328z" />
                <path class="st0" d="M136,296h16v16h-16V296z" />
                <path class="st0" d="M168,296h16v16h-16V296z" />
                <path class="st0" d="M168,328h16v16h-16V328z" />
                <path class="st0" d="M168,392h16v16h-16V392z" />
                <path class="st0" d="M168,360h16v16h-16V360z" />
                <path class="st0" d="M200,392h16v16h-16V392z" />
                <path class="st0" d="M200,328h16v16h-16V328z" />
                <path class="st0" d="M200,296h16v16h-16V296z" />
                <path class="st0" d="M200,360h16v16h-16V360z" />
                <path class="st0" d="M296,392h16v16h-16V392z" />
                <path class="st0" d="M264,392h16v16h-16V392z" />
                <path class="st0" d="M328,392h16v16h-16V392z" />
                <path class="st0" d="M296,360h16v16h-16V360z" />
                <path class="st0" d="M264,360h16v16h-16V360z" />
                <path class="st0" d="M328,360h16v16h-16V360z" />
                <path class="st0" d="M328,328h16v16h-16V328z" />
                <path class="st0" d="M264,328h16v16h-16V328z" />
                <path class="st0" d="M296,328h16v16h-16V328z" />
                <path class="st0" d="M264,296h16v16h-16V296z" />
                <path class="st0" d="M328,296h16v16h-16V296z" />
                <path class="st0" d="M296,296h16v16h-16V296z" />
                <path class="st0" d="M328,264h16v16h-16V264z" />
                <path class="st0" d="M296,264h16v16h-16V264z" />
                <path class="st0" d="M264,264h16v16h-16V264z" />
                <path class="st0" d="M296,232h16v16h-16V232z" />
                <path class="st0" d="M328,232h16v16h-16V232z" />
                <path class="st0" d="M392,168h16v16h-16V168z" />
                <path class="st0" d="M424,168h16v16h-16V168z" />
                <path class="st0" d="M424,200h16v16h-16V200z" />
                <path class="st0" d="M392,200h16v16h-16V200z" />
                <path class="st0" d="M392,232h16v16h-16V232z" />
                <path class="st0" d="M424,232h16v16h-16V232z" />
                <path class="st0" d="M424,264h16v16h-16V264z" />
                <path class="st0" d="M392,264h16v16h-16V264z" />
                <path class="st0" d="M392,296h16v16h-16V296z" />
                <path class="st0" d="M424,296h16v16h-16V296z" />
                <path class="st0" d="M424,328h16v16h-16V328z" />
                <path class="st0" d="M392,328h16v16h-16V328z" />
              </g>
            </svg>
            <ul class="uk-breadcrumb breadcrumbs-list">
              <li id="hotel-overview-dropdown">
                <span class="breadcrumbs-dropdown">{% trans "HOTEL MOGREN" %}</span>
                <i class="fa fa-angle-down breadcrumbs-dropdown"></i>
                <div id="hotel-overview-dropdown-content" class="uk-animation-slide-top-small">
                  <a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Hotel Overview" %}</a>
                  <a title="{% trans "Hotel Mogren - Accommodation" %}" href="{% trans "/en/hotel-mogren-in-budva/guest-rooms/" %}">{% trans "Accommodation" %}</a>
                  <a title="{% trans "Hotel Mogren - Meetings & Events" %}" href="{% trans "/en/hotel-mogren-in-budva/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                  <a title="{% trans "Hotel Mogren - Weddings" %}" href="{% trans "/en/hotel-mogren-in-budva/weddings/" %}">{% trans "Weddings" %}</a>
                  <a title="{% trans "Hotel Mogren - Restaurants" %}" href="{% trans "/en/hotel-mogren-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                  <a title="{% trans "Hotel Mogren - Location" %}" href="{% trans "/en/hotel-mogren-in-budva/location/" %}">{% trans "Location" %}</a>
                </div>
              </li>
              <li>
                <span class="breadcrumbs-last-span">{% trans "HOTEL OVERVIEW" %}</span>
              </li>
            </ul>
          </div>
          {% include "components/dropdown-all-hotels-menu.html" %}
        </div>
      </div>

      <h2 id="hero-header" class="width-padding mobile-element">
        {% trans "HOTEL MOGREN" %}
      </h2>
      <span class="width-padding header-span mobile-element">{% trans "Hotel Overview" %}</span>
      <h1 class="desktop-element width-padding" id="hero-header-desktop">
        {% trans "Hotel Overview" %}
      </h1>
    </div>
    <form action="https://secure.phobs.net/webservice/mobile/booking.php" id="phobs_book" name="phobs_book"
      target="_blank" class="width-padding">
      <span id="book-your-stay-span">{% trans "Book Your Stay" %}</span>
      <select id="hotel_selection" name="hotel">
        <option value="-">{% trans "All" %}</option>
        <option value="690b8cb36cc9778f01169c7b23e92c4d">{% trans "Hotel Palas" %}</option>
        <option value="0b45adca4485680ff1eb18b468ef97aa">{% trans "Hotel Aleksandar" %}</option>
        <option value="fad8de6711bed793ff533298b9a8a1c0">{% trans "Hotel Castellastva" %}</option>
        <option value="2bf69a5e1f101263d2d143794eb63e80">{% trans "Hotel Slovenska Plaza Standard" %}</option>
        <option value="1f6335bcc23330993ad10df199fe00fb">{% trans "Hotel Resort Slovenska Plaza Lux" %}</option>
        <option value="9b791e3b56dd06983659e5f985f33516">{% trans "Hotel Mogren" %}</option>
      </select>
      <input type="text" id="datepicker1" name="checkin" readonly="readonly" placeholder="arrival date" />
      <input type="text" id="datepicker2" readonly="readonly" name="checkout" placeholder="departure date" />
      <input type="text" id="promocode" name="partners_access" placeholder="promo code" />

      <input type="submit" value="{% trans "BOOK NOW" %}" id="submit" class="call-action cursor-pointer"
         />
      <a title="{% trans "Reservation Form" %}" href="#" class="call" uk-sticky uk-totop>{% trans "BOOK" %}</a>
      <p class="hidden-inputs__wrapper">
        <input name="company_id" type="hidden" value="5e01f11fbc6224083351531097a7f0ae" style="display: none" />
        <input name="view_cancel" type="hidden" value="" style="display: none" />
        <input name="lang" type="hidden" value="en" style="display: none" />
      </p>
    </form>
  </header>

 

  <section class="width-padding">
    <h2 class="blue-underline">{% trans "Mogren Hotel" %}</h2>
    <div class="hotel-overview-text-badges-container mobile-element">
      <div class="hotel-overview-text-badges mobile-element">
        <svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <style type="text/css">
            .st0 {
              fill: #b9b9b9;
            }
          </style>
          <g>
            <path class="st0" d="M472,455c18.2-4.5,32-23.8,32-47s-13.8-42.6-32-47V104h-16V72h-32V40h-16.2L408,8l-16-0.1L391.8,40H376v32h-32
		v32h-16v69.4c-17.3,4.7-33.6,12.4-48,22.6v-76h32V72h-40V40h-16.2L256,8l-16-0.1L239.8,40H224v32h-40v48h32v153.8l-32-8V200h16v-16
		h-48v-48h-16v48h-16v-16h-16v16H88v-32H72v32H24v16h16v248.2c-9.7,7.3-16,18.8-16,31.8c0,2.7,0.4,5.4,0.9,8H8v16h496v-16h-32V455z
		 M232,443.4c-11.4-5-25.2-4.3-36,2C185.5,432,169.3,424,152,424c-11.8,0-22.8,3.7-32,10.1V266.2l112,28V443.4z M238,279.3l0.9-2.2
		c17.7-53.1,65.7-89.6,121.1-92.8v277.3c-8.9-4.3-18.9-6.3-29.3-5.3C321.6,436.7,302,424,280,424c-11.7,0-22.8,3.7-32,10.2V281.8
		L238,279.3z M392,408v30c-9.3-4.4-16-16.1-16-30c0-17.6,10.8-32,24-32s24,14.4,24,32c0,13.9-6.7,25.6-16,30v-30H392z M376,473.1
		v-26.8c4.7,4.2,10.1,7.3,16,8.7v33h-5.6C383.7,482.4,380.2,477.4,376,473.1z M408,455c9.8-2.4,18.2-9.1,24-18.4
		c5.8,9.3,14.2,16,24,18.4v33h-48V455z M488,408c0,13.9-6.7,25.6-16,30v-30h-16v30c-9.3-4.4-16-16.1-16-30c0-17.6,10.8-32,24-32
		S488,390.4,488,408z M392,56h16v16h-16V56z M360,88h16h48h16v16h-80V88z M344,120h112v241c-9.8,2.4-18.2,9.1-24,18.4
		c-7.3-11.7-18.9-19.3-32-19.3c-9,0-17.3,3.6-24,9.7V168h-8c-8.1,0-16.2,0.6-24,1.9V120z M240,56h16v16h-16V56z M200,88h96v16h-96
		V88z M264,120v89.1c-13,12.2-23.9,26.7-32,43V120H264z M56,200h112v61.8l-64-16v205.6c-1,1.7-2,3.3-2.8,5.1
		c-1.7-0.2-3.4-0.4-5.2-0.4c-7.5-10-19.4-16-32-16c-2.7,0-5.4,0.3-8,0.8V200z M40,480c0-13.2,10.8-24,24-24
		c8.6,0,16.7,4.7,20.9,12.2l2.5,4.4L96,472c2.4,0,4.8,0.5,7.6,1.4l7.8,2.6l2.4-7.8C119,451.3,134.4,440,152,440
		c14.6,0,28,7.9,35,20.7l5,9.1l7.5-7.1c9-8.5,23.9-8.5,32.9,0l7.5,7.1l5-9.1c7.1-12.8,20.5-20.7,35-20.7c17.4,0,32.6,11.1,38,27.6
		l2.2,6.9l7.1-1.6c15.8-3.5,31.3,3,40.4,15H41.6C40.6,485.4,40,482.8,40,480L40,480z" />
            <path class="st0" d="M136,216h16v16h-16V216z" />
            <path class="st0" d="M72,216h16v16H72V216z" />
            <path class="st0" d="M104,216h16v16h-16V216z" />
            <path class="st0" d="M72,344h16v16H72V344z" />
            <path class="st0" d="M72,312h16v16H72V312z" />
            <path class="st0" d="M72,280h16v16H72V280z" />
            <path class="st0" d="M72,376h16v16H72V376z" />
            <path class="st0" d="M72,248h16v16H72V248z" />
            <path class="st0" d="M72,408h16v16H72V408z" />
            <path class="st0" d="M424,136h16v16h-16V136z" />
            <path class="st0" d="M392,136h16v16h-16V136z" />
            <path class="st0" d="M360,136h16v16h-16V136z" />
            <path class="st0" d="M136,392h16v16h-16V392z" />
            <path class="st0" d="M136,360h16v16h-16V360z" />
            <path class="st0" d="M136,328h16v16h-16V328z" />
            <path class="st0" d="M136,296h16v16h-16V296z" />
            <path class="st0" d="M168,296h16v16h-16V296z" />
            <path class="st0" d="M168,328h16v16h-16V328z" />
            <path class="st0" d="M168,392h16v16h-16V392z" />
            <path class="st0" d="M168,360h16v16h-16V360z" />
            <path class="st0" d="M200,392h16v16h-16V392z" />
            <path class="st0" d="M200,328h16v16h-16V328z" />
            <path class="st0" d="M200,296h16v16h-16V296z" />
            <path class="st0" d="M200,360h16v16h-16V360z" />
            <path class="st0" d="M296,392h16v16h-16V392z" />
            <path class="st0" d="M264,392h16v16h-16V392z" />
            <path class="st0" d="M328,392h16v16h-16V392z" />
            <path class="st0" d="M296,360h16v16h-16V360z" />
            <path class="st0" d="M264,360h16v16h-16V360z" />
            <path class="st0" d="M328,360h16v16h-16V360z" />
            <path class="st0" d="M328,328h16v16h-16V328z" />
            <path class="st0" d="M264,328h16v16h-16V328z" />
            <path class="st0" d="M296,328h16v16h-16V328z" />
            <path class="st0" d="M264,296h16v16h-16V296z" />
            <path class="st0" d="M328,296h16v16h-16V296z" />
            <path class="st0" d="M296,296h16v16h-16V296z" />
            <path class="st0" d="M328,264h16v16h-16V264z" />
            <path class="st0" d="M296,264h16v16h-16V264z" />
            <path class="st0" d="M264,264h16v16h-16V264z" />
            <path class="st0" d="M296,232h16v16h-16V232z" />
            <path class="st0" d="M328,232h16v16h-16V232z" />
            <path class="st0" d="M392,168h16v16h-16V168z" />
            <path class="st0" d="M424,168h16v16h-16V168z" />
            <path class="st0" d="M424,200h16v16h-16V200z" />
            <path class="st0" d="M392,200h16v16h-16V200z" />
            <path class="st0" d="M392,232h16v16h-16V232z" />
            <path class="st0" d="M424,232h16v16h-16V232z" />
            <path class="st0" d="M424,264h16v16h-16V264z" />
            <path class="st0" d="M392,264h16v16h-16V264z" />
            <path class="st0" d="M392,296h16v16h-16V296z" />
            <path class="st0" d="M424,296h16v16h-16V296z" />
            <path class="st0" d="M424,328h16v16h-16V328z" />
            <path class="st0" d="M392,328h16v16h-16V328z" />
          </g>
        </svg>
        <span>{% trans "City Hotel" %}</span>
      </div>
    </div>
    <img src="{% static "assets/images/Mogren/overview-header.JPG" %}" alt="Mogren" title="Mogren" class="width-padding header-image">
    <p class="paragraph-size-3 width-padding">
      {% blocktrans %} Hotel Mogren is one of the most authentic buildings in
      <a title="Budva, Montenegro" href="https://www.lonelyplanet.com/montenegro/coastal-montenegro/budva/" target="_blank">Budva</a>, recently
      renovated to feature a four-star experience for our guests. Built in
      1934, it is an undisputed tourist symbol of the city. It is 
      <a title="Hotel Mogren - Location" href="/en/hotel-mogren-in-budva/location/" target="_blank">located</a>
      opposite of the defensive stone walls of 
      <a title="Budva old Town" href="https://www.visit-montenegro.com/destinations/budva/attractions/old-town/" target="_blank">Budva’s Old Town</a> from the
      Venetian rule and was named after a nearby beach - the most scenic beauty in Budva, 
      <a title="Mogren Beach" href="https://www.tripadvisor.com/Attraction_Review-g304074-d7250928-Reviews-Mogren_Beach-Budva_Budva_Municipality.html/" target="_blank">Mogren beach.</a> {% endblocktrans %}<br /><br />
        {% blocktrans %}The hotel is centrally <a title="Hotel Mogren - Location" href="/en/hotel-mogren-in-budva/location/" target="_blank">positioned</a> and close to major attractions in
      Budva. Within eyesight are: {% endblocktrans %}<br />
      
    </p>
    <ul class="blue-dots-list width-padding">
      <li>{% blocktrans %} the main gate to the fortifications of <a title="Budva old Town" href="https://www.visit-montenegro.com/destinations/budva/attractions/old-town/" target="_blank">Budva’s Old Town</a>, {% endblocktrans %}</li>
      <li>{% trans "popular beaches such as " %}
        <a title="Mogren Beach" href="https://www.tripadvisor.com/Attraction_Review-g304074-d7250928-Reviews-Mogren_Beach-Budva_Budva_Municipality.html/" target="_blank">Mogren</a>,
        <a title="Mogren 2 Beach" href="https://www.360cities.net/image/mogren-2-beach-montenegro/" target="_blank">Mogren II</a>,
        <a title="Slovenska Plaza Beach" href="https://www.tripadvisor.com/LocationPhotoDirectLink-g304074-d622343-i68595773-Hotel_Slovenska_Plaza-Budva_Budva_Municipality.html/" target="_blank">Slovenska plaza</a></li>
      <li>{% blocktrans %} and the <a title="Marina Budva" href="https://www.yachtagent.me/marina-budva.html/" target="_blank"> city’s marina</a>. {% endblocktrans %} </li>
    </ul>
    <p class="paragraph-size-3 width-padding">
      {% blocktrans %} As soon as you step in, you’ll be able to enjoy a newly decorated
      reception area with a spacious and opulently furnished lobby. Accessible
      directly via our lobby is an airy and peaceful atrium that’s centrally
      positioned and decorated with various plants, a fountain, and bistro
      tables for the perfect eating or wine tasting experience. {% endblocktrans %}
    </p>
  </section>

  <section>
    <div uk-slideshow="animation: push">
      <div class="uk-position-relative uk-visible-toggle uk-light trapezoid-slider-container" tabindex="-1"
        uk-slideshow="min-height: 300; max-height: 450;">
        <ul class="uk-slideshow-items trapezoid-slider">
          <li class="trapezoid-slider-element">
            <div class="trapezoid-container">
              <img class="desktop-element" src="{% static "assets/images/Hotel Overview/mogren-policy.jpeg" %}"
                alt="{% trans "Hotel Policy" %}" title="{% trans "Hotel Policy" %}" />
              <div class="trapezoid-text-container width-padding">
                <h3>{% trans "Hotel Policy" %}</h3>
                <ul class="blue-dots-list">
                  <li>{% trans "Accept all credit cards" %}</li>
                  <li>{% trans "Check-in after 12:00" %}</li>
                  <li>{% trans "Check-out by 10:00" %}</li>
                  <li>{% trans "Late check-out at an extra charge" %}</li>
                  <li>{% trans "Pets are not allowed" %}</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="trapezoid-slider-element">
            <div class="trapezoid-container">
              <img class="desktop-element" src="{% static "assets/images/Hotel Overview/mogren-certificates.jpeg" %}"
                alt="{% trans "Certificates" %}" title="{% trans "Certificates" %}" />
              <div class="trapezoid-text-container width-padding">
                <h3>{% trans "Certificates" %}</h3>
                <ul class="certificates-list">
                  <li><img src="{% static "assets/images/haccp.png" %}" alt="HACCP" title="HACCP" class="certificates-img">{% trans "HACCP" %}</li>
                  <li><img src="{% static "assets/images/iso.png" %}" alt="ISO" title="ISO" class="certificates-img">{% trans "ISO 22000" %}</li>
                  <li><img src="{% static "assets/images/iso.png" %}" alt="ISO" title="ISO" class="certificates-img">{% trans "ISO 14001: 2015" %}</li>
                  <li><img src="{% static "assets/images/iso.png" %}" alt="ISO" title="ISO" class="certificates-img">{% trans "ISO 9001: 2015" %}</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <a title="{% trans "Previous" %}" class="uk-slidenav-large uk-position-center-left uk-position-small uk-border-circle arrow-navigation-custom"
          href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a title="{% trans "Next" %}" class="uk-slidenav-large uk-position-center-right uk-position-small uk-border-circle arrow-navigation-custom"
          href="#" uk-slidenav-next uk-slideshow-item="next"></a>
      </div>
    </div>
  </section>

  <section class="width-padding">
    <h2 class="blue-underline width-padding">{% trans "Finest spot for visitors" %}</h2>
    <p class="paragraph-size-3 width-padding">
      {% blocktrans %} What makes the hotel a primary destination for both tourists and locals
      is our famous veranda section where guests can dine outside while
      looking at ships leaving the <a title="Marina Budva" href="https://www.yachtagent.me/marina-budva.html/" target="_blank">marina</a>, listening to seagulls sing, and
      enjoying cooling refreshments.{% endblocktrans %}
      <br />
      <br />
      {% blocktrans %}The terrace functions as a City Café, carrying lyric emotions when
      looking towards the main square in front of the <a title="Budva old Town" href="https://www.visit-montenegro.com/destinations/budva/attractions/old-town/" target="_blank">Old Town</a>,
      where numerous manifestations, such as the Song of the Mediterranean, the 
      <a title="Day of horse mackerel" href="https://www.tasteatlas.com/dan-siruna/" target="_blank">Fish Festival</a>,
      the Carnival, New Year's Eve Celebration and many other events
      have been traditionally organized and held.{% endblocktrans %}
      <br />
      <br />
      {% blocktrans %}From May 20, 2018, the City Café continues to work in new ruins - after
      the completed adaptation, this cult place of the city of <a title="Budva, Montenegro" href="https://en.wikipedia.org/wiki/Budva/" target="_blank">Budva</a> has
      received a new redesigned appearance while at the same time retaining
      the traditional Mediterranean feel which had made it distinguishable for
      years.{% endblocktrans %} <br /><br />
      {% blocktrans %}The hotel boasts two terraces with 800 seats in total, a shop with
      delicious home-made pastry and a <a title="Hotel Mogren - Restaurants" href="/en/hotel-mogren-in-budva/restaurants-and-bars/" target="_blank">restaurant</a>, among many
      other amenities. {% endblocktrans %}
    </p>
    <h2 class="blue-underline width-padding">{% trans "Close by attractions" %}</h2>
    <p class="paragraph-size-3 width-padding">
      {% blocktrans %} Counting as one of the oldest buldings in 
      <a title="Budva, Montenegro" href="https://www.lonelyplanet.com/montenegro/coastal-montenegro/budva/" target="_blank">Budva</a> comes with some benefits
      – everything has been built around this very place.{% endblocktrans %}
      <br />
      <br />
      {% blocktrans %}"That’s why in no time you can reach one interesting point after the
      other. Staying in our hotel doesn’t simply imply excellent services with
      great amenities, but a vacation full of activity and memories to be
      made." {% endblocktrans %}
    </p>
  </section>

  <section class="width-padding" id="map-container">
    <div class="mapouter">
      <div class="gmap_canvas">
        <iframe width="600" height="450" id="gmap_canvas"
          src="https://maps.google.com/maps?q=mogren%20hotel&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0"></iframe><a title="Google map" href="https://www.whatismyip-address.com">watch me
          ne</a>
      </div>
      <style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 450px;
          width: 600px;
        }

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 450px;
          width: 600px;
        }
      </style>
    </div>
  </section>

  <section>
    <h2 class="blue-underline">{% trans "Testimonials" %}</h2>
    <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width slides/quotes -->
  <div class="mySlides">
    <img src="{% static "assets/images/Testimonials/mogren_1.png" %}" alt="Avatar">
    <br>
    <br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    <br>
    <br>
    <q>{{settings.site_settings.Testimonials.mogren_review_one}}</q>
    <p class="author">- {{settings.site_settings.Testimonials.mogren_name_one}}</p>
  </div>

  <div class="mySlides">
    <img src="{% static "assets/images/Testimonials/mogren_2.png" %}" alt="Avatar">
    <br>
    <br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    <br>
    <br>
    <q>{{settings.site_settings.Testimonials.mogren_review_two}}</q>
    <p class="author">- {{settings.site_settings.Testimonials.mogren_name_two}}</p>
  </div>

  <div class="mySlides">
    <img src="{% static "assets/images/Testimonials/mogren_3.png" %}" alt="Avatar">
    <br>
    <br>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    <br>
    <br>
    <q>{{settings.site_settings.Testimonials.mogren_review_three}}</q>
    <p class="author">- {{settings.site_settings.Testimonials.mogren_name_three}}</p>
  </div>

  <!-- Next/prev buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> 

<br>
<div style="text-align: center;">
  <a style="padding: 5px 20px; border: 2px solid #0059ab; text-decoration: none; color: #0059ab;" href="https://bit.ly/36uTGfU" class="button_testimonial">{% trans "Write a review"%}</a>
  <a style="padding: 5px 20px; border: 2px solid #0059ab; text-decoration: none; color: #0059ab;" href="https://bit.ly/3tp8rtK" class="button_testimonial">{% trans "Read more"%}</a>
</div>


  </section>



  {% include "components/footer.html" %}

  {% comment %} jquery {% endcomment %}
  <script src="{% static "assets/js/jquery.min.js" %}"></script>
  {% comment %} jquery datepicker {% endcomment %}
  <script src="{% static "assets/js/jquery-ui.min.js" %}"></script>
  <script src="{% static "assets/js/jquery-ui-i18n.min.js" %}"></script>

  <script src="{% static "assets/js/datepicker-me.js" %}"></script>
  <script src="{% static "assets/js/testimonials.js" %}"></script>
  <script src="{% static "assets/js/index.js" %}"></script>
  <script src="{% static "assets/js/search.js" %}"></script>
  <script>
    $("#close-modal").click(function(){
      console.log('grefds')
      $("#modal").addClass('close-modal')
    })
  </script>
</body>

</html>