/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 960px) {
    .activities-card {
        width: 32.33%;
        margin-bottom: 15px;
    }
    
    .activities-card-wrapper .show {
        margin-right: 1.5%;
    }

    .activities-card-wrapper .third {
        margin-right: 0; 
    }

    .activities-card-text-wrapper {
        padding: 30px 15px 50px;
    }

    .activities-card-text-wrapper h4 {
        font-size: 1.1em;
    }
    
    .activities-card-text-wrapper p {
        font-size: 0.9em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}