/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 960px) {
    .blog-title {
        margin: 10px 0 60px 0;
        font-size: 2.3em;
    }

    .subtitle-and-paragraph-wrapper h4 {
        font-size: 1.5em;
    }

    .subtitle-and-paragraph-wrapper p {
        line-height:30px;
        margin: 10px 0 20px 0;
    }

    .image-wrapper {
        margin-bottom: 20px;
    }

    .share-article {
        padding: 20px 0;
    }

    .latest-blog-post-desktop-wrapper {
        display: flex;
    }

    .latest-blog-post-wrapper .latest-blog-post-mobile-wrapper {
       display: block;
       margin-right: 3%;
    }

    .latest-blog-post-mobile-wrapper:last-child {
        margin-right: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
