.header-hero-container {
    background: url(../images/Headers/nabavke-korporativne-vodic.jpg) center/cover no-repeat;
}
.accordion-title-custom::before{
    width: 0;
}

.icon-toggle, .acordion-content{
    color: #919191;
}

.accordion-title-custom{
    color: #292929 !important;
}

.accordion-list > li{
    padding: 10px 0;
    margin: 0;
}

.accordion-list > li >a{
    border-bottom: 1px solid #919191;
}

b{
    color: black !important;
}

.nabavke-tekst{
    text-align: center;
}