.header-hero-container {
    background: url(../images/Headers/location-header.jpg) center/cover no-repeat;
}
.paragraph-wrapper p {
    text-align: justify;
    margin: 25px 0 40px 0;
}

.information-card {
    margin-bottom: 25px;
}

.information-card > div {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.information-card-title {
    border-bottom: 1px solid #484848;
    color: #292929;
}

.information-card-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #919191;
    color: #919191;
}

.information-card-content:last-child {
    padding: 0;
    margin: 0;
    border: none;
}
.information-cards-wrapper{
    margin-top: 50px;
}