.first-paragraph {
  margin-bottom: 40px;
  font-size: 1.1rem !important;
}

.info-card-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.info-card-button {
  width: auto;
  border: 2px solid #0059ab !important;
  border-radius: 10px;
  line-height: 40px;
  min-width: 160px;
  align-self: center;
}
.info-card-button a {
  color: #0059ab;
  text-decoration: none;
  font-weight: 400;
}
.info-card-button a:hover {
  color: #0059ab;
}
.info-card-title {
  margin-bottom: 0;
}
.info-card-title > a {
  color: #333;
  text-decoration: none;
}
