{% load i18n %}
{% load static %}
<!DOCTYPE html>

<html>

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/images/favicon-32x32.png" %}" />
  {% comment %} Chrome, Firefox OS and Opera {% endcomment %}
  <meta name="theme-color" content="#ecad2e">
  {% comment %} Windows Phone {% endcomment %}
  <meta name="msapplication-navbutton-color" content="#ecad2e">
  {% comment %} iOS Safari {% endcomment %}
  <meta name="apple-mobile-web-app-status-bar-style" content="#ecad2e">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="keywords" content="{% trans "hotel group budvanska rivijera activities" %}" />
  <meta name="description" 
    content="{% trans "" %}">
  <title>{% trans "Budvanska Rivijera | Karijera" %}</title>

  {% comment %} jquery datepicker {% endcomment %}
  <link href="{% static "assets/css/jquery-ui.css" %}"
    rel="stylesheet" />

  {% comment %} UIkit CSS {% endcomment %}
  <link rel="stylesheet" href="{% static "assets/css/uikit.min.css" %}" />

  {% comment %} UIkit JS {% endcomment %}
  <script async src="{% static "assets/js/uikit.min.js" %}"></script>
  <script async src="{% static "assets/js/uikit-icons.min.js" %}"></script>

  <link rel="stylesheet" href="{% static "assets/css/homepage-responsive.css" %}" />
  <link rel="stylesheet" href="{% static "assets/css/main-mobile.css" %}" />
  <link rel="stylesheet" href="{% static "assets/css/main-responsive.css" %}" />

  <link href="{% static "assets/css/material-icons.css" %}" rel="stylesheet" />
  <script async src="{% static "assets/js/fontawesome.js" %}"></script>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "hgbudvanskarivijera.com",
    "alternateName": "hgbudvanskarivijera.com",
    "url": "https://www.hgbudvanskarivijera.com/"
  }
</script>

<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.hgbudvanskarivijera.com",
      "contactPoint": [{
          "@type": "ContactPoint",
          "telephone": "+382 33 402456",
          "contactType": "customer service"
      }]
  }
</script>

</head>

<body>
  <header>
    {% include "components/header-desktop-nav.html" %}

    
    <div class="header-hero-container header-hero-container-not-homepage" id="header-container">
      <div class="hotel-menu" id="hotel-menu">
        <div class="hotel-menu-container width-padding">
          {% include "components/dropdown-index-menu.html" %}
        </div>
      </div>

      <h2 id="hero-header" class="width-padding mobile-element">
        BUDVANSKA RIVIJERA
      </h2>
      <span class="width-padding header-span mobile-element">{% trans "Karijera" %}</span>
      <h1 class="desktop-element width-padding" id="hero-header-desktop">
        {% trans "Karijera" %}
      </h1>
    </div>
    <form action="https://secure.phobs.net/webservice/mobile/booking.php" id="phobs_book" name="phobs_book"
      target="_blank" class="width-padding">
      <span id="book-your-stay-span">{% trans "Book Your Stay" %}</span>
      <select id="hotel_selection" name="hotel">
        <option value="-">{% trans "All" %}</option>
        <option value="690b8cb36cc9778f01169c7b23e92c4d">Hotel Palas</option>
        <option value="0b45adca4485680ff1eb18b468ef97aa">Hotel Aleksandar</option>
        <option value="fad8de6711bed793ff533298b9a8a1c0">Hotel Castellastva</option>
        <option value="2bf69a5e1f101263d2d143794eb63e80">Hotel Slovenska Plaza Standard</option>
        <option value="1f6335bcc23330993ad10df199fe00fb">Hotel Resort Slovenska Plaza Lux</option>
        <option value="9b791e3b56dd06983659e5f985f33516">Hotel Mogren</option>
      </select>
      <input type="text" id="datepicker1" name="checkin" readonly="readonly" placeholder="arrival date" />
      <input type="text" id="datepicker2" readonly="readonly" name="checkout" placeholder="departure date" />
      <input type="text" id="promocode" name="partners_access" placeholder="promo code" />

      <input type="submit" value="{% trans "BOOK NOW" %}" id="submit" class="call-action cursor-pointer"
         />
      <a title="{% trans "Reservation Form" %}" href="#" class="call" uk-sticky uk-totop>{% trans "BOOK" %}</a>
      <p class="hidden-inputs__wrapper">
        <input name="company_id" type="hidden" value="5e01f11fbc6224083351531097a7f0ae" style="display: none" />
        <input name="view_cancel" type="hidden" value="" style="display: none" />
        <input name="lang" type="hidden" value="en" style="display: none" />
      </p>
    </form>
  </header>

 

  <section class="width-padding">
    <h3 class="blue-underline">{% trans "Budite dio tima najveće hotelske grupacije u crnoj gori" %}</h3>
    <p class="width-padding paragraph-size-3">
      {% blocktrans %} U našoj hotelskoj kompaniji posvećeni smo stvaranju harmoničnog radnog okruženja gdje zaposlenima obezbjeđujemo kvalitetne uslove za rad, brojne mogućnosti za sticanje novih znanja i stručnog usavršavanja. {% endblocktrans %}<br><br> 

      {% blocktrans %}U susret predstojećoj turističkoj sezoni širimo svoj tim te zato pozivamo sve zainteresovane koji svojim sposobnostima i dosadašnjim iskustima mogu doprinijeti profesionalnom obavljaju hotelske djelatnosti da se prijave za otvorena radna mjesta u hotelima: Slovenska plaža, Aleksandar, Palas, Castellastva, Mogren.
      {% endblocktrans %}<br /><br /> 

      {% blocktrans %}Detaljnije informacije o radnim mjestima možete pronaći na našem web sajtu: www.hgbudvanskarivijera.com, a možete nas kontakirati putem telefona <a href="tel:+38233451311">+382 33 451 311</a> i slati radne biografije (CV) na email adresu: <a href="mailto:hr@budvanskarivijera.co.me">hr@budvanskarivijera.co.me</a>
      {% endblocktrans %}<br /><br /> 
    </p>
  </section>

  <section class="width-padding">
    <a href="{% trans "/me/otvorene-pozicije/" %}"><h2>{% trans "Pogledajte sve otvorene pozicije" %}</h2></a>
  </section>


  {% include "components/footer.html" %}

  {% comment %} jquery {% endcomment %}
  <script src="{% static "assets/js/jquery.min.js" %}"></script>
  {% comment %} jquery datepicker {% endcomment %}
  <script src="{% static "assets/js/jquery-ui.min.js" %}"></script>
  <script src="{% static "assets/js/jquery-ui-i18n.min.js" %}"></script>

  <script src="{% static "assets/js/datepicker-me.js" %}"></script>
  <script src="{% static "assets/js/index.js" %}"></script>
  <script src="{% static "assets/js/search.js" %}"></script>

</body>

</html>