{% load i18n %}

          <ul>
            <li id="dropdown1">
              <hr class="uk-divider-vertical">
              <a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview/" %}">{% trans " Palas " %}<span>{% trans "Hotel" %}</span></a>
              <div id="dropdown_content1" class="uk-animation-slide-top-small">
                <a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview/" %}">{% trans "Overview" %}</a>
                <a title="{% trans "Hotel Palas - Accommodation" %}" href="{% trans "/en/hotel-palas/rooms-and-suites/" %}">{% trans "Accommodation" %}</a>
                <a title="{% trans "Hotel Palas - Accommodation Lux" %}" href="{% trans "/en/hotel-palas-lux/rooms-and-suites/" %}">{% trans "Accommodation Lux" %}</a>
                <a title="{% trans "Hotel Palas - Meetings & Events" %}" href="{% trans "/en/hotel-palas/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                <a title="{% trans "Hotel Palas - Weddings" %}" href="{% trans "/en/hotel-palas/weddings/" %}">{% trans "Weddings" %}</a>
                <a title="{% trans "Hotel Palas - Restaurants" %}" href="{% trans "/en/hotel-palas/restaurants-and-bars/" %}">{% trans "Restaurants & Bars" %}</a>
                <a title="{% trans "Hotel Palas - Beaches & Pools" %}" href="{% trans "/en/hotel-palas/beaches-and-pools/" %}">{% trans "Beaches and Pools" %}</a>
                <a title="{% trans "Hotel Palas - Wellness" %}" href="{% trans "/en/hotel-palas/wellness-and-spa/" %}">{% trans "Wellness and Spa" %}</a>
                <a title="{% trans "Hotel Palas - City Cafe" %}" href="{% trans "/en/events/city-tavern-palas/" %}">{% trans "City Tavern" %}</a>
                <a title="{% trans "Hotel Palas - Thai Massage" %}" href="{% trans "/en/hotel-palas/thai-massage/" %}">{% trans "Thai Massage" %}</a>
                <a title="{% trans "Hotel Palas - Location" %}" href="{% trans "/en/hotel-palas/location/" %}">{% trans "Location" %}</a>
              </div>
            </li>
            <li id="dropdown2">
              <hr class="uk-divider-vertical">
              <a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans " Aleksandar " %}<span>{% trans "Hotel" %}</span></a>
              <div id="dropdown_content2" class="uk-animation-slide-top-small">
                <a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans "Overview" %}</a>
                <a title="{% trans "Hotel Aleksandar - Accommodation" %}" href="{% trans "/en/hotel-aleksandar-in-budva/rooms-and-suites/" %}">{% trans "Accommodation" %}</a>
                <a title="{% trans "Hotel Aleksandar - Restaurants" %}" href="{% trans "/en/hotel-aleksandar-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & Bars" %}</a>
                <a title="{% trans "Hotel Aleksandar - Meetings & Events" %}" href="{% trans "/en/hotel-aleksandar-in-budva/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                <a title="{% trans "Hotel Aleksandar - Wellness" %}" href="{% trans "/en/hotel-aleksandar-in-budva/wellness-and-spa/" %}">{% trans "Wellness and Spa" %}</a>
                <a title="{% trans "Hotel Aleksandar - Beaches & Pools" %}" href="{% trans "/en/hotel-aleksandar-in-budva/beaches-and-pools/" %}">{% trans "Beaches & Pools" %}</a>
                <a title="{% trans "Hotel Aleksandar - Location" %}" href="{% trans "/en/hotel-aleksandar-in-budva/location/" %}">{% trans "Location" %}</a>
              </div>
            </li>
            <li id="dropdown3">
              <hr class="uk-divider-vertical">
              <a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans " Castellastva " %}<span>{% trans "Hotel" %}</span></a>
              <div id="dropdown_content3" class="uk-animation-slide-top-small">
                <a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans "Overview" %}</a>
                <a title="{% trans "Hotel Castellastva - Accommodation" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/guest-rooms/" %}">{% trans "Accommodation" %}</a>
                <a title="{% trans "Hotel Castellastva - Restaurants" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/restaurants-and-bars/" %}">{% trans "Restaurants & Bars" %}</a>
                <a title="{% trans "Hotel Castellastva - Beaches & Pools" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/beaches-and-pools/" %}">{% trans "Beaches and Pools" %}</a>
                <a title="{% trans "Hotel Castellastva - Wellness" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/wellness-and-spa/" %}">{% trans "Wellness and Spa" %}</a>
                <a title="{% trans "Hotel Castellastva - Location" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/location/" %}">{% trans "Location" %}</a>
              </div>
            </li>
            <li id="dropdown4">
              <hr class="uk-divider-vertical">
              <a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">
                {% trans "Slovenska Plaza" %}<span>{% trans "Hotel" %}</span></a>
              <div id="dropdown_content4" class="uk-animation-slide-top-small">
                <a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">{% trans "Overview" %}</a>
                <a title="{% trans "Resort Slovenska Plaza - Accommodation 3*" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/3-star-guest-rooms/" %}">{% trans "Accommodation***" %}</a>
                <a title="{% trans "Resort Slovenska Plaza - Accommodation 4*" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/4-star-guest-rooms/" %}">{% trans "Accommodation****" %}</a>
                <a title="{% trans "Resort Slovenska Plaza - Restaurants" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & Bars" %}</a>
                <a title="{% trans "Resort Slovenska Plaza - Beaches & Pools" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/beaches-and-pools/" %}">{% trans "Beaches and Pools" %}</a>
                {% comment %} ecolabel <a title="{% trans "Resort Slovenska Plaza - Eco Label" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/eco-label-certificate/" %}">{% trans "Eco Label" %}</a> {% endcomment %}
                <a title="{% trans "Resort Slovenska Plaza - Tennis resort" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/tennis-resort/" %}">{% trans "Tennis resort" %}</a>
                <a title="{% trans "Resort Slovenska Plaza - Location" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/location/" %}">{% trans "Location" %}</a>
              </div>
            </li>
            <li id="dropdown5">
              <hr class="uk-divider-vertical">
              <a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans " Mogren" %} <span>{% trans "Hotel" %}</span></a>
              <div id="dropdown_content5" class="uk-animation-slide-top-small">
                <a title="{% trans "Hotel Mogren - Overview" %}"" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Overview" %}</a>
                <a title="{% trans "Hotel Mogren - Accommodation" %}" href="{% trans "/en/hotel-mogren-in-budva/guest-rooms/" %}">{% trans "Accommodation" %}</a>
                <a title="{% trans "Hotel Mogren - Meetings & Events" %}" href="{% trans "/en/hotel-mogren-in-budva/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                <a title="{% trans "Hotel Mogren - Weddings" %}" href="{% trans "/en/hotel-mogren-in-budva/weddings/" %}">{% trans "Weddings" %}</a>
                <a title="{% trans "Hotel Mogren - Restaurants" %}" href="{% trans "/en/hotel-mogren-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & Bars" %}</a>
                <a title="{% trans "Hotel Mogren - City Cafe" %}" href="{% trans "/en/events/city-tavern-mogren/" %}">{% trans "City Tavern" %}</a>
                <a title="{% trans "Hotel Mogren - Location" %}" href="{% trans "/en/hotel-mogren-in-budva/location/" %}">{% trans "Location" %}</a>
              </div>
              <hr class="uk-divider-vertical">
            </li>
          </ul>
