{% load i18n %}


          <div id="all-hotels-nav">
            <ul class="uk-breadcrumb all-hotels-first-list">
              <li id="all-hotels-first-dropdown">
                <span>{% trans "ALL HOTELS" %}</span>
                <i class="fa fa-angle-down all-hotels-dropdown"></i>
                <div id="all-hotels-dropdown-list" class="uk-animation-slide-top-small">
                  <ul>
                    <li id="all-hotels-dropdown1">
                      <i class="fa fa-angle-left"></i>
                      <a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview" %}">{% trans "Palas Hotel" %}</a>
                      <div id="all-hotels-dropdown-content1">
                        <a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview/" %}">{% trans "Hotel Overview" %}</a>
                        <a title="{% trans "Hotel Palas - Accommodation" %}" href="{% trans "/en/hotel-palas/rooms-and-suites/" %}">{% trans "Accommodation" %}</a>
                        <a title="{% trans "Hotel Palas - Accommodation Lux" %}" href="{% trans "/en/hotel-palas-lux/rooms-and-suites/" %}">{% trans "Accommodation Lux" %}</a>
                        <a title="{% trans "Hotel Palas - Meetings & Events" %}" href="{% trans "/en/hotel-palas/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                        <a title="{% trans "Hotel Palas - Weddings" %}" href="{% trans "/en/hotel-palas/weddings/" %}">{% trans "Weddings" %}</a>
                        <a title="{% trans "Hotel Palas - Restaurants" %}" href="{% trans "/en/hotel-palas/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                        <a title="{% trans "Hotel Palas - Beaches & Pools" %}" href="{% trans "/en/hotel-palas/beaches-and-pools/" %}">{% trans "Beaches & Pools" %}</a>
                        <a title="{% trans "Hotel Palas - Wellness" %}" href="{% trans "/en/hotel-palas/wellness-and-spa/" %}">{% trans "Wellness & SPA" %}</a>
                        <a title="{% trans "Hotel Palas - City Cafe" %}" href="{% trans "/en/events/city-tavern-palas/" %}">{% trans "City Tavern" %}</a>
                        <a title="{% trans "Hotel Palas - Wellness" %}" href="{% trans "/en/hotel-palas/thai-massage/" %}">{% trans "Thai Massage" %}</a>
                        <a title="{% trans "Hotel Palas - Location" %}" href="{% trans "/en/hotel-palas/location/" %}">{% trans "Location" %}</a>
                      </div>
                    </li>
                    <li id="all-hotels-dropdown2">
                      <i class="fa fa-angle-left"></i>
                      <a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans "Aleksandar Hotel" %}</a>
                      <div id="all-hotels-dropdown-content2">
                        <a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans "Hotel Overview" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Accommodation" %}" href="{% trans "/en/hotel-aleksandar-in-budva/rooms-and-suites/" %}">{% trans "Accommodation" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Meetings & Events" %}" href="{% trans "/en/hotel-aleksandar-in-budva/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Restaurants" %}" href="{% trans "/en/hotel-aleksandar-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Beaches & Pools" %}" href="{% trans "/en/hotel-aleksandar-in-budva/beaches-and-pools/" %}">{% trans "Beaches & Pools" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Wellness" %}" href="{% trans "/en/hotel-aleksandar-in-budva/wellness-and-spa/" %}">{% trans "Wellness & SPA" %}</a>
                        <a title="{% trans "Hotel Aleksandar - Location" %}" href="{% trans "/en/hotel-aleksandar-in-budva/location/" %}">{% trans "Location" %}</a>
                      </div>
                    </li>
                    <li id="all-hotels-dropdown3">
                      <i class="fa fa-angle-left"></i>
                      <a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans "Castellastva Hotel" %}</a>
                      <div id="all-hotels-dropdown-content3">
                        <a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans "Hotel Overview" %}</a>
                        <a title="{% trans "Hotel Castellastva - Accommodation" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/guest-rooms/" %}">{% trans "Accommodation" %}</a>
                        <a title="{% trans "Hotel Castellastva - Restaurants" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                        <a title="{% trans "Hotel Castellastva - Beaches & Pools" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/beaches-and-pools/" %}">{% trans "Beaches & Pools" %}</a>
                        <a title="{% trans "Hotel Castellastva - Wellness" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/wellness-and-spa/" %}">{% trans "Wellness & SPA" %}</a>
                        <a title="{% trans "Hotel Castellastva - Location" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/location" %}">{% trans "Location" %}</a>
                      </div>
                    </li>
                    <li id="all-hotels-dropdown4">
                      <i class="fa fa-angle-left"></i>
                      <a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">{% trans "Slovenska Plaza" %}</a>
                      <div id="all-hotels-dropdown-content4">
                        <a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">{% trans "Hotel Overview" %}</a>
                        <a title="{% trans "Resort Slovenska Plaza - Accommodation 3*" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/3-star-guest-rooms/" %}">{% trans "Accommodation***" %}</a>
                        <a title="{% trans "Resort Slovenska Plaza - Accommodation 4*" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/4-star-guest-rooms/" %}">{% trans "Accommodation****" %}</a>
                        <a title="{% trans "Resort Slovenska Plaza - Restaurants" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                        <a title="{% trans "Resort Slovenska Plaza - Beaches & Pools" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/beaches-and-pools/" %}">{% trans "Beaches & Pools" %}</a>
                        {% comment %} ecolabel <a title="{% trans "Resort Slovenska Plaza - Eco Label" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/eco-label-certificate/" %}">{% trans "Eco Label" %}</a> {% endcomment %}
                        <a title="{% trans "Resort Slovenska Plaza - Tennis resort" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/tennis-resort/" %}">{% trans "Tennis resort" %}</a>
                        <a title="{% trans "Resort Slovenska Plaza - Location" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/360-hotel-tour/" %}">{% trans "Location" %}</a>
                      </div>
                    </li>
                    <li id="all-hotels-dropdown5">
                      <i class="fa fa-angle-left"></i>
                      <a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Mogren Hotel" %}</a>
                      <div id="all-hotels-dropdown-content5">
                        <a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Hotel Overview" %}</a>
                        <a title="{% trans "Hotel Mogren - Accommodation" %}" href="{% trans "/en/hotel-mogren-in-budva/guest-rooms/" %}">{% trans "Accommodation" %}</a>
                        <a title="{% trans "Hotel Mogren - Meetings & Events" %}" href="{% trans "/en/hotel-mogren-in-budva/conference-rooms/" %}">{% trans "Meetings & Events" %}</a>
                        <a title="{% trans "Hotel Mogren - Weddings" %}" href="{% trans "/en/hotel-mogren-in-budva/weddings/" %}">{% trans "Weddings" %}</a>
                        <a title="{% trans "Hotel Mogren - Restaurants" %}" href="{% trans "/en/hotel-mogren-in-budva/restaurants-and-bars/" %}">{% trans "Restaurants & bars" %}</a>
                        <a title="{% trans "Hotel Mogren - City Cafe" %}" href="{% trans "/en/events/city-tavern-mogren/" %}">{% trans "City Tavern" %}</a>
                        <a title="{% trans "Hotel Mogren - Location" %}" href="{% trans "/en/hotel-mogren-in-budva/location/" %}">{% trans "Location" %}</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
