{% load i18n %}
{% load static %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e78d32b8d24fc22658986b1/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<footer class="width-padding">
    <div class="footer-mobile">
      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-parent">
          <a href="#" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}</a>
          <ul class="uk-nav-sub add-dynamic-content">
            <li>{% trans "Hotel group &quot;Budvanska rivijera&quot; AD" %}</li>
            <li>{% trans "Trg Slobode 1, 85310 Budva <br> PIB: 02005328 <br> CRPS: 40004651" %}</li>
            <li><span><a title="" href="tel:+38233402456">{% trans "+382 33 402456" %}</a></span></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="#" title="{% trans "Our Hotels" %}">{% trans "Our Hotels" %}</a>
          <ul class="uk-nav-sub">
            <li><a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview/" %}">{% trans "Palas Hotel" %}</a></li>
            <li><a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans "Aleksandar Hotel" %}</a></li>
            <li><a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans "Castellastva Hotel" %}</a></li>
            <li><a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">{% trans "Slovenska Plaza Hotel" %}</a></li>
            <li><a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Mogren Hotel" %}</a></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        {% comment %} <li class="uk-parent">
          <a href="#" title="{% trans "At Our Hotels" %}">At Our Hotel</a>
          <ul class="uk-nav-sub">
            <li> <a title="{% trans "Hotel Castellastva - Accommodation" %}" href="/en/hotel-castellastva-in-petrovac/guest-rooms/">Accommodation</a></li>
            <li> <a title="{% trans "Hotel Castellastva - Restaurants" %}" href="/en/hotel-castellastva-in-petrovac/restaurants-and-bars/">Restaurants & bars</a></li>
            <li> <a title="{% trans "Hotel Castellastva - Beaches" %}" href="/en/hotel-castellastva-in-petrovac/beaches-and-pools/">Beaches & Pools</a></li>
            <li> <a title="{% trans "Hotel Castellastva - Wellness" %}" href="/en/hotel-castellastva-in-petrovac/wellness-and-spa/">Wellness & SPA</a></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent">
          <a href="#" title="{% trans "Find Out More" %}">Find Out More</a>
          <ul class="uk-nav-sub">
            <li><a title="{% trans "Hotel group Budvanska Rivijera" %}" href="/en/hotel-group/">Hotel group</a></li>
            <li><a title="{% trans "Our Activities" %}" href="/en/activities/">Our Activities</a></li>
            <li><a  title="{% trans "Find us on Booking.com" %}"
                href="https://www.tripadvisor.rs/Hotel_Review-g304074-d604013-Reviews-Hotel_Mogren-Budva_Budva_Municipality.html"
                target="_blank">Find us on Tripadvisor</a></li>
            <li><a  title="{% trans "Find us on Tripadvisor" %}" href="https://www.booking.com/region/me/budvanska-rivijera.en-gb.html" target="_blank">Find us on
                Booking.com</a></li>
          </ul>
        </li>
        <li class="uk-nav-divider"></li> {% endcomment %}
        <li class="uk-parent">
          <a href="#" title="{% trans "Stay In Touch" %}">{% trans "Stay In Touch" %}</a>
          <ul class="uk-nav-sub">
            <li><a title="{% trans "HG Budvanska Rivijera - News" %}" href="{% trans "/en/news/" %}">{% trans "News" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Events" %}" href="{% trans "/en/events/" %}">{% trans "Events" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Special Offers" %}" href="{% trans "/en/special-offers/" %}">{% trans "Special Offers" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Activities" %}" href="{% trans "/en/activities/" %}">{% trans "Activities" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Karijera" %}" href="{% trans "/me/karijera/" %}">{% trans "Karijera" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Contact" %}" href="{% trans "/en/contact/" %}">{% trans "Contact" %}</a></li>
            <li><a title="{% trans "HG Budvanska Rivijera - Nabavke" %}" href="{% trans "/me/nabavke/" %}">{% trans "Nabavke" %}</a></li>
            <li><a title="Javnost rada" href="/me/javnost-rada/">Javnost rada</a></li>
            <li><a title="Javnost" href="/me/korporativne-novosti/">Korporativne novosti</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-desktop">
      <div class="list-item">
        <ul class="list-content">
          <span class="footer-desktop-list-header">{% trans "Contact Us" %}</span>
          <li class="add-dynamic-content">
            <div class="footer-address">
              <b>{% trans "Hotel group &quot;Budvanska rivijera&quot; AD" %}</b> <br><br>
              <span uk-icon="location"></span>{% trans "Trg slobode 1, " %}<br />{% trans "&nbsp&nbsp&nbsp&nbsp&nbsp85310 Budva" %}
              <br />
              {% trans "&nbsp&nbsp&nbsp&nbsp&nbspPIB: 02005328" %}
              <br />
              {% trans "&nbsp&nbsp&nbsp&nbsp&nbspCRPS: 40004651" %}
            </div>
            <p class="footer-phone">
              <span uk-icon="receiver" style="font-size: 22px;"></span><a title="" href="tel:+38233402564">{% trans "+382 33 402456" %}</a><br />
            </p>
          </li>
        </ul>
      </div>
      <div class="list-item">
        <ul class="list-content">
          <span class="footer-desktop-list-header">{% trans "Our Hotels" %}</span>
          <li><a title="{% trans "Hotel Palas - Overview" %}" href="{% trans "/en/hotel-palas/overview/" %}">{% trans "Palas Hotel" %}</a></li>
          <li><a title="{% trans "Hotel Aleksandar - Overview" %}" href="{% trans "/en/hotel-aleksandar-in-budva/overview/" %}">{% trans "Aleksandar Hotel" %}</a></li>
          <li><a title="{% trans "Hotel Castellastva - Overview" %}" href="{% trans "/en/hotel-castellastva-in-petrovac/overview/" %}">{% trans "Castellastva Hotel" %}</a></li>
          <li><a title="{% trans "Resort Slovenska Plaza - Overview" %}" href="{% trans "/en/hotel-slovenska-plaza-in-budva/overview/" %}">{% trans "Slovenska Plaza Hotel" %}</a></li>
          <li><a title="{% trans "Hotel Mogren - Overview" %}" href="{% trans "/en/hotel-mogren-in-budva/overview/" %}">{% trans "Mogren Hotel" %}</a></li>
        </ul>
      </div>
      {% comment %} <div class="list-item">
        <ul class="list-content">
          <span class="footer-desktop-list-header">At Our Hotel</span>
          <li> <a title="{% trans "Hotel Castellastva - Accommodation" %}" href="/en/hotel-castellastva-in-petrovac/guest-rooms/">Accommodation</a></li>
          <li> <a title="{% trans "Hotel Castellastva - Restaurants" %}" href="/en/hotel-castellastva-in-petrovac/restaurants-and-bars/">Restaurants & bars</a></li>
          <li> <a title="{% trans "Hotel Castellastva - Beaches" %}" href="/en/hotel-castellastva-in-petrovac/beaches-and-pools/">Beaches & Pools</a></li>
          <li> <a title="{% trans "Hotel Castellastva - Wellness" %}" href="/en/hotel-castellastva-in-petrovac/wellness-and-spa/">Wellness & SPA</a></li>
        </ul>
      </div> {% endcomment %}
      <div class="list-item">
        <ul class="list-content">
          <span class="footer-desktop-list-header">{% trans "Stay In Touch" %}</span>
          <li><a title="{% trans "HG Budvanka Rivijera - News" %}" href="{% trans "/en/news/" %}">{% trans "News" %}</a></li>
          <li><a title="{% trans "HG Budvanka Rivijera - Events" %}" href="{% trans "/en/events/" %}">{% trans "Events" %}</a></li>
          <li><a title="{% trans "HG Budvanka Rivijera - Special Offers" %}" href="{% trans "/en/special-offers/" %}">{% trans "Special Offers" %}</a></li>
          <li><a title="{% trans "HG Budvanska Rivijera - Activities" %}" href="{% trans "/en/activities/" %}">{% trans "Activities" %}</a></li>
          <li><a title="{% trans "HG Budvanska Rivijera - Karijera" %}" href="{% trans "/me/karijera/" %}">{% trans "Karijera" %}</a></li>
          <li><a title="{% trans "HG Budvanka Rivijera - Contact" %}" href="{% trans "/en/contact/" %}">{% trans "Contact" %}</a></li>
          <li><a title="{% trans "HG Budvanka Rivijera - Nabavke" %}" href="{% trans "/me/nabavke/" %}">{% trans "Nabavke" %}</a></li>
          <li><a title="Javnost rada" href="/me/javnost-rada/">{% trans "Javnost rada" %}</a></li>
          <li><a title="Javnost" href="/me/korporativne-novosti/">{% trans "Korporativne novosti" %}</a></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      {% comment %} <div class="list-item">
        <ul class="list-content">
          <span class="footer-desktop-list-header">Find Out More</span>
          <li><a title="{% trans "Hotel Group Budvanska Rivijera" %}" href="/en/hotel-group/">Hotel group</a></li>
          <li><a title="{% trans "Our Activities" %}" href="/en/activities/">Our Activities</a></li>
          <li><a title="{% trans "Find us on Tripadvisor" %}"
              href="https://www.tripadvisor.rs/Hotel_Review-g304074-d604013-Reviews-Hotel_Mogren-Budva_Budva_Municipality.html"
              target="_blank">Find us on Tripadvisor</a></li>
          <li><a  title="{% trans "Find us on Booking.com" %}" href="https://www.booking.com/region/me/budvanska-rivijera.en-gb.html" target="_blank">Find us on
              Booking.com</a></li>
        </ul>
      </div> {% endcomment %}

      <div class="list-item">
        <ul class="list-content">
          <li>
            <img loading="lazy" src="{% static "assets/images/logo-uspravni.webp" %}" alt="HGBR logo" title="HGBR logo" width="160" height="160" />
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="copyright-container">
      <div class="social-links">
        <a title="{% trans "HG Budvanska Rivijera - Facebook Page" %}" href="{{ settings.site_settings.SocialMediaSettings.facebook}}" target="_blank">
          <img src="{% static "assets/images/facebook-footer.svg" %}" alt="facebook" title="facebook" width="35" height="35"/>
        </a>
        <a title="{% trans "HG Budvanska Rivijera - Twitter Page" %}" href="{{ settings.site_settings.SocialMediaSettings.twitter}}" target="_blank">
          <img src="{% static "assets/images/twitter-footer.svg" %}" alt="twitter" title="twitter" width="35" height="35"/>
        </a>
        <a title="{% trans "HG Budvanska Rivijera - Instagram Page" %}" href="{{ settings.site_settings.SocialMediaSettings.instagram}}" target="_blank">
          <img src="{% static "assets/images/instagram-footer.svg" %}" alt="instagram" title="instagram" width="35" height="35"/>
        </a>
        <a title="{% trans "HG Budvanska Rivijera - Linkedin Page" %}" href="{{ settings.site_settings.SocialMediaSettings.linkedin}}" target="_blank">
          <img src="{% static "assets/images/linkedin-footer.svg" %}" alt="linkedin" title="linkedin" width="35" height="35"/>
        </a>
      </div>
      <p>
        {% blocktrans %} Copyright © {% endblocktrans %} <script>document.write(new Date().getFullYear())</script>  {% blocktrans %} Hotel group Budvanska Rivijera. All rights reserved. {% endblocktrans %}
      </p>
    </div>
    <div class="scroll-to-top">
      <a title="" href="#" uk-totop uk-scroll></a>
    </div>
  </footer>